$module: 'media';

.#{$module} {
	@include make-container();
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding-right: 0;
    padding-left: 0;
    @include media-breakpoint-up(lg) {
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        justify-content: flex-start;
    }
    &__item {
    	width: 100%;
        border-bottom: 1px solid $gray;
        list-style: none;
        &--first {
            border-top: 1px solid $gray;
        }
        @include media-breakpoint-up(lg) {
            width: 33.333%;
            &:nth-child(-n+3) {
                border-top: 1px solid $gray;
            }
            &:nth-child(3n+1) {
                padding-left: 0;
                padding-right: 0;
            }
            &:nth-child(3n+2) {
                width: 33.333%;
                padding-right: 0;
                border-left: 1px solid $gray;
                border-right: 1px solid $gray;
            }
    	}
    	@media #{$mq-1400-up} {
            width: 35%;
            padding-right: 5%;
            &:nth-child(3n+1) {
                width: 35%;
                padding-left: 5%;
                padding-right: 0;
            }
            &:nth-child(3n+2) {
                width: 30%;
                padding-right: 0;
                border-left: 1px solid $gray;
                border-right: 1px solid $gray;
            }
        }
	}
	&__content {
	    position: relative;
        padding: 32px;
        @media #{$mq-1024-up} {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-flow: row wrap;
            flex-flow: row wrap;
            justify-content: flex-start;
        }
	}
	&__img {
		position: relative;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        background-color: $ltGray;
        margin-bottom: 32px;
        padding: 60px 32px;
        @media #{$mq-1024-up} {
            min-height: 260px;
            max-height: 260px;
            overflow: hidden;
            padding: 0;
        }
        img {
            display: block;
            max-width: 50%;
            margin: 0 auto;
            height: auto;
            align-self: center;
            @media #{$mq-1024-up} {
                max-width: 100%;
            }
        }
	}
	&__body {
		p {
			font-size: 1.375rem;
		}
	}

}




