$module: 'header';

.#{$module} {
	@include make-row();
    align-items: baseline;
    min-height: 228px;
    background-color: $green;
    &__title {
    	margin: auto;
        color: $white;
	}
}




