$module: 'intro';

.#{$module} {
    @include make-row();
    &__inner {
    	margin: auto;
        @include make-container();
        max-width: 700px;
        padding-top: 60px;
        padding-bottom: 40px;
        text-align: center;
        @include media-breakpoint-up(lg) {
            text-align: left;
            padding-top: 60px;
            padding-bottom: 60px;
        }
	}
    &__title {
        @include make-container();
        display: block;
        border-bottom: 1px solid $gray;
        padding-bottom: 60px;
        margin-bottom: 60px;
        @include media-breakpoint-up(sm) {
            display: none;
        }
    }
}




